## UpGrade

### Assigment 4

Question 1: How to import pandas and check the version?

In [ ]:
import pandas as pd

In [ ]:
print(pd.__version__)

Question 2: How to create a series from a numpy array?

In [ ]:
import numpy as np

In [ ]:
a = np.arange(0,10)
series = pd.Series(a)
print(series)

Question 3: How to convert the index of a series into a column of a dataframe?

In [ ]:
data = {
    'A' :25,
    'B' :21,
    'C' :11,
    'D' :7

}
print(data)
print(type(data))

In [ ]:
data = pd.Series(data)
print(data)

pd.DataFrame(data , columns=['Price'])

Question 4: Write the code to list all the datasets available in seaborn library.
Load the 'mpg' dataset
Note: mpg dataset will be read from seaborn module in the manner sir has already shown(provided in the
materials folder)

In [2]:
import seaborn as sns

In [3]:
sns.__version__

'0.10.1'

In [4]:
sns.get_dataset_names()

C:\Users\Taufiq\anaconda64\lib\site-packages\seaborn\utils.py:384: GuessedAtParserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 384 of the file C:\Users\Taufiq\anaconda64\lib\site-packages\seaborn\utils.py. To get rid of this warning, pass the additional argument 'features="lxml"' to the BeautifulSoup constructor.

  gh_list = BeautifulSoup(http)

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'exercise',
 'flights',
 'fmri',
 'gammas',
 'geyser',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'tips',
 'titanic']

In [5]:
mpg = sns.load_dataset('mpg')

In [6]:
mpg.head()
mpg.tail()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10

Question 5: Which country origin cars are a part of this dataset?

In [11]:
mpg['origin'].unique()

array(['usa', 'japan', 'europe'], dtype=object)

Question 6: Extract the part of the dataframe which contains cars belonging to 'usa'

In [12]:
usa = mpg[mpg['origin']=='usa']

## Thank you!